# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Flask and Python configuration files
instance/
.pytest_cache/
*.pyo
*.pyd
*.pdb

# Testing files
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.idea/*
*.idea/**/*
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/vcs.xml

# VS Code
.vscode/
.vscode/*
.vscode/**/*
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
.vscode/tasks.json

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
staticfiles/
media/

# Local history
.localhistory/
.localhistory/*
.localhistory/**/*
